<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="MailServer" value="mail server address" />
        <add key="MailUsername" value="mail username " />
        <add key="MailPassword" value="mail password" />
        <add key="MailFrom" value="mail address" />
        <add key="EnableErrorLogEmail" value="false" />
        <add key="ErrorLogEmail" value="vivabags@abv.bg" />
        <add key="ProductsPerPage" value="10" />
        <add key="ProductDescriptionLength" value="50" />
        <add key="ActivityPerPage" value="10" />
        <add key="ActivityDescriptionLength" value="50" />
        <add key="AdvicePerPage" value="10" />
        <add key="AdviceDescriptionLength" value="50" />
        <add key="ExposePerPage" value="10" />
        <add key="ExposeDescriptionLength" value="150" />
        <add key="SiteName" value="VivaBags" />
        <add key="CartPersistDays" value="10" />
    </appSettings>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SP.mdf;Initial Catalog=SP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SPEntities1" connectionString="metadata=res://*/App_Code.SP.csdl|res://*/App_Code.SP.ssdl|res://*/App_Code.SP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SP.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>


        <roleManager enabled="false" />
        <siteMap enabled="true" defaultProvider="XmlSiteMapProvider">
            <providers>
                <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, system.web,&#xD;&#xA;  version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true" />
                <add name="Web2SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Back-End Office/Web2.sitemap" />
            </providers>
        </siteMap>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
            <buildProviders>
                <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
            </buildProviders>
        </compilation>
        </system.web>
    

    

    

    
    <system.web>
        <profile>
            <properties>
                <add name="Address1" type="System.String" />
                <add name="Address2" type="System.String" />
                <add name="City" type="System.String" />
                <add name="Region" type="System.String" />
                <add name="PostalCode" type="System.String" />
                <add name="Country" type="System.String" />
                <add name="ShippingRegion" type="System.String" />
                <add name="MobPhone" type="System.String" />
            </properties>
        </profile>
       
        <authentication mode="Forms">
            <forms name="SPLogin" loginUrl="~/Front-End Office/Login.aspx" path="/" protection="All" timeout="60">
            </forms>
        </authentication>
</system.web>
    </configuration>